<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
<!--    <link rel="stylesheet" href="style.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" th:src="@{/webjars/bootstrap/5.3.0/css/bootstrap.css}">

    <script src="/webjars/jquery/3.6.1/jquery.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.js}"></script>

</head>
<body>
<div class="main mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 container bg-dark">
            <div class="mt-4 p-5 bg-primary text-white rounded">
                <h1>Simple CRUD Project on Spring MVC</h1>
                <p>This is just a sample project that demonstrates how basic CRUD operation is done in Spring MVC.</p>
                <p>This project uses a Person object with attributes such as firstname, lastname and occupation. In the future we will use date of birth to do certain operations</p>
            </div>
            <form action="#" th:action="@{/person/page}" th:object="${person}" method="post">
                <div class="mb-3 mt-3" hidden="hidden">
                    <label for="id" class="form-label">ID:</label>
                    <input
                            type="text"
                            class="form-control"
                            id="id"
                            placeholder="ID"
                            name="id"
                            th:field="*{id}"
                    />
                </div>
                <div class="mb-3 mt-3">
                    <label for="firstName" class="form-label">First Name:</label>
                    <input
                            type="text"
                            class="form-control"
                            id="firstName"
                            placeholder="First name"
                            name="firstName"
                            th:field="*{firstName}"
                    />
                </div>

                <div class="mb-3 mt-3">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input
                            type="text"
                            class="form-control"
                            id="lastName"
                            placeholder="Last name"
                            name="lastName"
                            th:field="*{lastName}"
                    />
                </div>
                <div class="mb-5 mt-3">
                    <label for="occupation" class="form-label">Occupation:</label>
                    <input
                            type="text"
                            class="form-control"
                            id="occupation"
                            placeholder="Occupation"
                            name="occupation"
                            th:field="*{occupation}"
                    />
                </div>

                <div class="col mb-3 mt-3 container">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div th:if="${param.submitted}">
                <script th:inline="javascript">
                    /* set the values of the form fields to an empty string */
                    [[${person.id}]] = '';
                    [[${person.firstname}]] = '';
                    [[${person.lastname}]] = '';
                    [[${person.occupation}]] = '';
                    // add more fields as needed
                </script>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <hr />
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="present container">
            <table th:object="${persons}" class="table table-dark table-hover">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Occupation</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="person: ${persons}">
                    <td th:text="${person.getFirstName()}">John</td>
                    <td th:text="${person.getLastName()}">Doe</td>
                    <td th:text="${person.getOccupation()}">Doctor</td>
                    <td><a href="#" th:href="@{'page/' + ${person.getId()} + '/update'}"><i class="bi bi-pencil-square"></i></a></td>
                    <td><a href="#" th:href="@{'page/' + ${person.getId()} + '/delete'}"><i class="bi bi-trash-fill"></i></a></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>


</body>
</html>